.team{
    margin-top: 41px;
}
.team-container{
    display: flex;
    margin-bottom: 20px;
}
.team__content{
    padding: 40px;
    background: #F5F5FA;
    border-radius: 12px;
}
.team__img{
    width: 413px;
}
.team__link{
    font-weight: bold;
    @include link-bold;
    color: map-get($colors, link-bold);
    text-transform: uppercase;
    margin-bottom: 3px;
    display: flex;
    gap: 8.5px;
    align-items: center;
}
.team__title{
    margin-bottom: 20px;
}
.team__autor{
    font-weight: 300;
    @include team-autor;
    color: #B3B3BA;
    margin-bottom: 5px;
}
.team__position{
    font-weight: normal;
    color: map-get($colors, team-position );
    @include team-position;
}
.slider__list{
    display: flex;
    justify-content: center;
    gap: 14px;
}
.slider__item{
    opacity: 0.3;
    transition: all 0.5s;
}
.slider__item:hover{
    opacity: 1;
}